In [3]:
# Data Science Final Project

## Introduction
This notebook covers key topics related to data science, including programming languages, libraries, tools, and simple arithmetic examples.

## Data Science Languages
- Python
- R
- SQL
- Java
- Julia

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools

| Tool             | Category          |
|------------------|-------------------|
| Jupyter Notebook | IDE               |
| GitHub           | Version Control   |
| Tableau          | Data Visualization|
| Apache Hadoop    | Data Processing   |
| Python           | Programming       |

## Arithmetic Expression Examples
In this section, we will demonstrate how to perform basic arithmetic operations using Python.

In [2]:
# Multiply two numbers
multiply_result = 5 * 3

# Add two numbers
add_result = 10 + 7

multiply_result, add_result

(15, 17)

In [3]:
# Function to convert minutes to hours
def convert_minutes_to_hours(minutes):
    return minutes / 60

# Convert 120 minutes to hours
convert_minutes_to_hours(120)

2.0